@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}



@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dark {
  --background: #111827;
  --foreground: #f7f8f9;
}

.light {
  --background: #f7f8f9;
  --foreground: #111827;
}

